{% extends 'base.html' %}
    {% block title %}Reset Passwed Link{% endblock title %}
    {% block body %}
</div>
</div>
    <div class="container">
        <div class="title">
            <h2>Request a reset Link</h2>
        </div>
        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li>
                                        {{ message }}
                                        <button class="close-button" onclick="this.parentNode.style.display = 'none';">&times;</button>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
        <div class="row">
    <form style="margin-top: 0px; margin-bottom: 120px" action="{% url 'set-new-password' uidb64 token %}" method="post">{% csrf_token %}
        <input type="password" name="pass1" placeholder="Password" required>
        <input type="password" name="pass2" placeholder="Confirm Password" required>
        <button type="submit" class="btn">Register</button>
        <br>
    </form>
</div>
</div>

    {% endblock body %}